<footer>
  <div id="footer-stack">
    <div id="footer-icons">
      <a class="footer-icon" href="mailto:{{ site.author.email }}" aria-label="Email"><i class="fas fa-envelope"></i></a>
      <a class="footer-icon" href="https://x.com/Harsh_N_Lalai10" aria-label="X"><i class="fab fa-x-twitter"></i></a>
      <a class="footer-icon" href="https://www.linkedin.com/in/harshlalai/" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      <a class="footer-icon" href="https://github.com/Harsh-Lalai" aria-label="GitHub"><i class="fab fa-github"></i></a>
      <a class="footer-icon" href="https://scholar.google.com/citations?user=z7K0WH8AAAAJ&hl=en" aria-label="Google Scholar"><i class="fas fa-graduation-cap"></i></a>
    </div>
    <div id="footer-meta">
      <div>&copy; 2026 {{ site.author.name }}</div>
      <div>Design from <a class="footer-link" href="https://fredhohman.com/">Fred Hohman</a></div>
    </div>
  </div>
</footer>
